:root {
  --main: #1e1e1e;
  --main-alt: #588dff;
  --main-light: #2c2c2c;
  /* rgb(47, 44, 83) */
  --text: #c2c2c2;
  --icon: #c2c2c2;
  --accent: #26252b;
  --dynam: #1d1c1c;
  --box: #1b1b1b;
  --btnhov: #278ee2;
  --anim: fading;
}

::selection {
  color: var(--main-alt);
  background: var(--main);
}

body {
  margin: 0 0;
  padding: 0 0;
  background: var(--main);
  color: var(--text);
  transition: 0.5s ease-in;
  font-family: monospace;

}

input[type=button] {
  color: var(--text);
  background: var(--dynam);
  border: none;
  user-select: none;
  margin: 1px 2px;
  transition: 0.5s ease-in;
}

input[type=button]:hover {
  background: var(--btnhov);
  color: var(--text);
  margin: 0px 4px;
}

button {
  color: var(--icon);
  background: var(--dynam);
  border: none;
  margin: 1px 2px;
  font-size: 15px;
  font-family: monospace;
  user-select: none;
  padding: 5px 5px;
  transition: 0.5s ease-in;
}

button:hover {
  background: var(--btnhov);
  color: var(--text);
  margin: 0px 2px;
}

#listfunction {
  background: var(--dynam);
  transition: 0.5s ease-in;
  border-left: none;
  border-top: none;
  border-bottom: none;
  display: none;


}

.bth {
  color: var(--text);
  background: var(--dynam);
  user-select: none;
  border-radius: 0px !important;
  transition: 0.5s ease-in;
}

table {
  height: auto;
  width: auto;
  padding: 0px 0px;
  margin: 0px 0px;
}

.togglewrapper {
  width: 100%;
  height: 1px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;

}

.toggled {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: var(--btnhov) !important;
}

.menu {
  background: var(--dynam);
  border: 0.5px solid black;
  position: absolute;
  z-index: 2;
  padding: 1px 2px;
  display: none;
  opacity: 0;
  animation-name: var(--anim);
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
  border-radius: 3px;
}



#message_container {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10000;
}

#alertBox {
  width: 290px;
  height: 20px !important;
  /* min-height: 100px; */
  margin-top: 50px;
  border: 1px solid transparent;
  background-color: var(--dynam);
  background-repeat: no-repeat;
  background-position: 20px 30px;
  animation-name: var(--anim);
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  user-select: none;
  transition: 0.1s ease-in;
}

#message_container>#alertBox {
  position: fixed;
  border: 1px solid var(--main);
}


#alertBox h4 {
  font-size: 8px;
  text-align: left;
  margin: 4.3px;
  float: left;
  font-weight: lighter;
}

#alertBox #closeBtn {
  display: block;
  /* margin: 0px 2px; */
  padding: 0px 2px;
  font: 0.68em verdana, arial;
  text-transform: uppercase;
  text-align: center;
  color: lightgray;
  background:transparent;
  text-decoration: none;
  float: right;
}
#closeBtn :hover{
  background: red !important;
}

#togglevis {

  position: absolute;
  z-index: 5;
  /* width: 28px; */
  border: 0.5px solid var(--main-alt);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li {
  list-style-type: none;
  margin:0px 0px;
  padding:0px 0px;
}

#targetCode {
  margin: 0px 10px;
  height: 100%;
  background:floralwhite;
    /* Don't change: */
  width: 100%;
  border: none;
  display: block;
}

#innerregioneditor {
  background-color:floralwhite;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 46%;
}
.innerregioneditor2 {
  /*position: fixed;*/
  height: 100%;
  width: 46%;
}

.linenumber {
  overflow-y: hidden;
  background-color: var(--box);
  color: var(--text);
  text-align: right;
  vertical-align: top;
  z-index: 0;
  padding-right: 12px;
  padding-left: 4px;
  resize: none;
  font-weight:lighter;
  height: 98%;
  width: 68px; 
  font-size: 15px;
  margin: 0px 0px !important;
  font-family: mono;
  user-select: none;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 0.5px solid var(--main-light);
  transition: 0.5s ease-in;
}

.txt {
  margin:0px 0px !important;
  z-index: 0;
  border: none;
  background: var(--box);
  /* Dont change:  */
  ;
  width: 43%;
  height: 98%;
  font-size: 15px;
  color: var(--text);
  resize: none;
  overflow: hidden;
  -ms-overflow-style: hidden;
  transition: 0.5s ease-in;
}

.txt::-webkit-scrollbar {
  display: none;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 36px;
  height: 18px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  -webkit-transition: .4s;
  transition: .4s;
  border: 0.1px solid var(--btnhov);
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--accent);
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

#colorpicker {
  display: none;
  background: var(--dynam);
  color: var(--text);
  width: 225px;
  padding: 8px 10px;
  margin: 0px 30px;
  opacity: 0;
  user-select: none;
  animation-name: var(--anim);
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  position: absolute;
  border: 0.5px solid var(--main-alt);
  animation-fill-mode: forwards;
  transition: 0.5s ease-in;
}
#rgbres {
  background-color: transparent;
  color:#c2c2c2;
}
#rgbres::selection {
  background-color: transparent;
  color:var(--text);
}
i {
  font-size: 12px;
  margin: 15px 0px;
  padding: 10px 10px;
  font-family: monospace;
}

.rgbslid[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70%;
  height: 2px;
  margin: 10px 15px;
  border: 1px solid transparent;
  border-radius: 7px;
}

.rgbslid[input=range]:focus {
  outline: none;
}
h3 {
  user-select: none;
}

input[type=text] {
  background-color: var(--dynam);
  border-radius: 1px;
  border-color: transparent;
  font-size: 10px;
  color: var(--text);
  border: 1.5px solid var(--main-alt);
  user-select: none;
  font-family: monospace;
}

#resultcp {
  background-color: var(--text);
  padding: 3px 50px;
  margin: 5px 5px;
  content: none;
  border-radius: 5px;

}

#settingsmen {
  text-align: center;
  width: 300px;
  margin: 0px 30px;
  padding:0px 3px;
  border:0.5px solid var(--main-alt)
}

.outerregioneditor {
  position: fixed;
  width: 96%;
  height: 100%;
}

@keyframes fading {
  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}



@media only screen and (max-width: 970px) {

  .txt {
    margin-right: 0px;
  }

  .outerregioneditor {
    width: 44%;
  }
}

@media only screen and (max-width: 670px) {

  .txt {
    margin-right: 0px;
  }

  .outerregioneditor {
    width: 40% !important;
  }
}
